html {
  height: 100%;
  background: linear-gradient(#00767f,#00535a);
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#tris:hover .tri {
  position: relative;
}

#tris {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -490px;
  width: 980px;
  margin-top: -310px;
}

.tri.broken {
  -webkit-transform:rotateY(90deg) !important; 
}

.tri.active {
  -webkit-transform:rotateY(90deg) !important; 
}




.tri {
  
  transition: all 0.7s ease-in-out;
  float: left;
  width: 0;
  height: 0;
  margin-right: -6px;
  margin-top: 1px;
  x-webkit-clip-path: polygon(50% 0,0 86.6%, 100% 86.6%, 50% 0);
  border-top: 15px solid #1cb4a9;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
}
.tri:nth-child(121n) {
  margin-left: -7.5px;
  clear: left;
}
.tri:nth-child(2n) {
  border-top-color: #1ba8df;
  -webkit-transform: rotate(180deg);
}

