
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#tris {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -450px;
  width: 980px;
  margin-top: -260px;
}

.tri.active {
  
  border-top-color: #0168ac !important;
}

.tri {
  transition: all 0.3s linear;
  float: left;
  width: 0;
  height: 0;
  margin-right: -6px;
  margin-top: 1px;
  x-webkit-clip-path: polygon(50% 0,0 86.6%, 100% 86.6%, 50% 0);
  border-top: 15px solid #1cb4a9;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
}
.tri:nth-child(121n) {
  margin-left: -7.5px;
  clear: left;
}
.tri:nth-child(2n) {
  border-top-color: #1ba8df;
  -webkit-transform: rotate(180deg);
}

