
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#tris {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -450px;
  width: 900px;
  margin-top: -190px;
}

.tri {
  float: left;
  width: 30px;
  height: 30px;
  background: rgba(128,192,192,0.9);
  -webkit-clip-path: polygon(50% 0,0 86.6%, 100% 86.6%, 50% 0);
  margin-top: -4px;
  margin-right: -15px;
}
x.tri:nth-child(61n) {
  margin-left: -15px;
  clear: left;
}
.tri:nth-child(2n) {
background: rgba(192,128,192,0.9);
-webkit-transform: rotate(180deg);
position: relative;
top: -4px;
}

h1, p {
  color: #333;
}
